/* Bootstrap override */
.vcenter {
    display: inline-block;
    vertical-align: middle;
    float: none;
}

body {
  background-color: #efefef;
  font-family: 'Comfortaa', cursive;
  font-size: 1.4em;
  margin-top: 20px;
}

h1, h2, h3, h4 {
  font-family: 'Comfortaa', cursive;
}

h4 {
  font-size: 20px;
}

a {
  text-decoration: none;
  color: #00cccc;
}

a:visited {
  color: #00cccc;
}

a:hover {
  color: #00cccc;
  text-decoration: underline;
}

button.menu-toggle {
  border: none;
  background: none;
  box-shadow: none;
}

button.menu-toggle:hover {
  box-shadow: none;
}

p {
  margin: 20px;
}

.site-branding {
margin-bottom: 60px;
}

.navbar {
  margin-top: 15px;
  margin-bottom: 15px;
}

.navbar {
  font-size: 16px;
}

.navbar a {
  color: #000;
}

.navbar a:visited {
  color: #000;
}

.no-side-padding {
  padding-left: 0px;
  padding-right: 0px;
}

.no-side-margin {
  margin-left: 0px;
  margin-right: 0px;
}

.no-bottom-margin {
  margin-bottom: 0px;
}

.site-description {
  margin-bottom: 25px;
}
.social-links {
  margin-bottom: 20px;
  font-size: 24px;
}

.event-archive-container {
    text-align: center;
    margin-bottom: 20px;
}

.event-archive-container:last-child {
    margin-bottom: 0px;
}

.more-info span{
  font-size: 1.4em;
  line-height: 1.4em;
}

.instaframe-container {
  margin-bottom: 20px;
}

.hipster-photo {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
}

.hipster-photo-slanted {
  padding: 20px;
  background-color: #fff;
  -webkit-box-shadow: 0 15px 10px #777;
  -moz-box-shadow: 0 15px 10px #777;
  box-shadow: 0 15px 10px #777;
  -webkit-transform: rotate(-3deg);
  -moz-transform: rotate(-3deg);
  -o-transform: rotate(-3deg);
  -ms-transform: rotate(-3deg);
  transform: rotate(-3deg);
}

.border-between > [class*='col-']:before {
 background: #e3e3e3;
 bottom: 0;
 content: " ";
 left: 0;
 position: absolute;
 width: 1px;
 top: 0;
}
.border-between > [class*='col-']:first-child:before {
 display: none;
}

.site-footer {
    padding: 20px;
    font-size: 1.1em;
}

.fa-ellipses {
  font-size: 0.5rem !important;
  line-height: 1em !important;
  padding: 5px;
  top: -4px;
  position: relative;
}

.section {
  padding-bottom: 15px;
  max-width: 900px;
}



.section h2 {
  padding: 15px;
  margin-bottom: 20px;
}

.section h3 {
  padding: 0px 15px 15px;
}
.section h2 a, .section h2 a:visited {
  color: #333;
}

.section:last-child {
  /*background-color: #00cccc;*/
}

#main {
  margin-bottom: 20px;
}

#main .row.no-side-margin h3{
  margin-top:20px;
  margin-bottom: 20px;
}

#main .row.no-side-margin:first-child h3{
  margin-top:0px;
}

.read-more-text {
    margin-top: 20px;
}

.metaslider-container {
  max-width: 900px;
  overflow: hidden;
}

.site-info {
  margin-top: 20px;
  font-size: 1.2em;
}

i.fa {
  padding-right: 10px;
  padding-left: 2px;
}

.social-footer span {
    padding: 0px 10px;
    padding-right: 8px;
    background: url(../dot-blue.png) no-repeat left;
    background-size: 10px;
    padding-left: 20px;
}

.social-container div:before {
  background: url(../dot-blue.png) no-repeat left;
  background-size: 10px;
  padding-left: 14px;
  padding-bottom: 0px;
  content: "";
}

.social-container div:after {
  background: url(../dot-blue.png) no-repeat right;
  background-size: 10px;
  padding-right: 14px;
  padding-bottom: 0px;
  content: "";
}

footer {
  border-top:5px solid;
}

.social-footer a {
  font-size: 1.1em;
}

.social-footer a:hover {
  text-decoration: underline;
}

.social-footer a:visited {

}

.event-section h3{
  margin-top: 0px !important;
  padding: 0px;
}

.upcoming-events {
  padding-top: 15px;
}

.some-thing {}

.upcoming-events h4:last-child {
  margin-bottom: 0px;
}

.upcoming-events .event-archive-container img {
  margin-bottom: 20px;
}

/*one-pager stuff*/
.one-pager-section {
  margin: 10px auto;
}

@media screen and (max-width: 768px)
{

  header {
    margin-bottom: 100px;
  }

  #site-navigation {
    position: absolute;
    z-index: 8;
    width: 100%;
    top: 0px;
  }

  .nav-row div {
    padding: 0px;
  }

  .navbar.toggled #primary-menu {
    width: 100%;
    margin: 0px;
    background-color: #fff;
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  }

  .navbar.toggled #primary-menu a {
    padding: 20px;
    width: 100%;
    /*padding-bottom: 10px; */
  }

  .main-navigation li:last-child:after {
    background: none;
    padding-right: 0px;
  }

  .navbar.toggled #primary-menu li, .navbar.toggled #primary-menu li:last-child:after {
    background: none;
    padding-left: 0px;
    width: 100%;
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
  }
  .navbar.toggled #primary-menu li a{
    display: block;
  }

  .navbar.toggled #primary-menu li a:before {
    background-size: 20px;
    padding-left: 30px;
    content: "";
  }

  .menu-item:hover {
    background-color: #fff;
  }

  .one-pager-section .inner-flex{
      display: flex;
      flex-flow: wrap;
  }

  .one-pager-section .inner-flex .teaser-container {
    order: 1;
  }
  .one-pager-section .inner-flex .img-container {
    order: 0;
  }

  .top-row {
    margin-top:40px;
  }

}

@media screen and (min-width: 768px) {

  p {
    margin:0 0 10px;
  }

	.event-archive-container {
    text-align: left;
  }
}
